---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/24.193.83.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Fri, 25 Mar 2016 01:50:28 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"24.193.83.1","country_code":"US","country_name":"United States","region_code":"NY","region_name":"New
        York","city":"Rego Park","zip_code":"11374","time_zone":"America/New_York","latitude":40.7235,"longitude":-73.8612,"metro_code":501}

'
  recorded_at: Thu, 31 Mar 2016 08:54:46 GMT
recorded_with: VCR 3.0.1
