---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=45.960491,13.6599124&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3",
                       "short_name" : "3",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Damber",
                       "short_name" : "Damber",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Kromberk",
                       "short_name" : "Kromberk",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Nova Gorica",
                       "short_name" : "Nova Gorica",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Nova Gorica",
                       "short_name" : "Nova Gorica",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Slovenia",
                       "short_name" : "SI",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "5000",
                       "short_name" : "5000",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Damber 3, 5000 Nova Gorica, Slovenia",
                 "geometry" : {
                    "location" : {
                       "lat" : 45.960491,
                       "lng" : 13.6599124
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.9618399802915,
                          "lng" : 13.6612613802915
                       },
                       "southwest" : {
                          "lat" : 45.9591420197085,
                          "lng" : 13.6585634197085
                       }
                    }
                 },
                 "place_id" : "ChIJ53F3TA8Be0cRP6TZTO0iUaM",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Kromberk",
                       "short_name" : "Kromberk",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Municipality of Nova Gorica",
                       "short_name" : "Municipality of Nova Gorica",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Nova Gorica",
                       "short_name" : "Nova Gorica",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Slovenia",
                       "short_name" : "SI",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Kromberk, Slovenia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.9921043,
                          "lng" : 13.697803
                       },
                       "southwest" : {
                          "lat" : 45.9510758,
                          "lng" : 13.6507312
                       }
                    },
                    "location" : {
                       "lat" : 45.9579427,
                       "lng" : 13.6625447
                    },
                    "[...]
